.list-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns:100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows:repeat(13, 90px);
}

.list-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type:none;
  position: relative;
  overflow: hidden;
  padding: 0px 100px 0px 100px;
  box-shadow: 5px 15px 20px 5px rgba(0, 0, 0, 0.3);
  background: rgba(82, 58, 100, 1);
}

.list-content-title{
  margin: 0px 0px 15px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.list-content-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.list-content-title::before {
  display: flex;
  justify-content: flex-end;
  content: "01";
  font-size: 90px;
  font-weight: 900;
  position: absolute;
  text-align: right;
  width: 55px;
  left: 30px;
  top: 90px;
  color:  rgba(148, 75, 110, 1);
}

.two::before {
  content: "02";
}

.three::before {
  content: "03";
}

.four::before {
  content: "04";
}

.diver-one {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: auto;
}

.item-one {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.item-two {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 8;
}

.item-three {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.item-four {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 12;
}

.diver-two {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 13;
}

.video-title {
  max-width: 652px;
  margin-left: 100px;
  font-size: 64px;  
  line-height: 96px;
}

.video {
  max-width: 100vw;
  min-height: 668px;
  background-color: dimgrey;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 8vw;
}

.container-footer {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  box-shadow: 0px 20px 40px 30px rgba(0, 0, 0, 0.2);
}

.title-footer {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 44px;
  line-height: 72px;
}

.p-footer {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.background-footer-one {
  padding: 70px;
  max-width: 500px;
  background-image: url(../images/footer/Фон1\ 1.png);
  background-size: cover;
}

.background-footer-two {
  padding: 70px;
  max-width: 500px;
  background-image: url(../images/footer/Фон2\ 1.png);
  background-size: cover;
}

.button-footer {
  padding: 5px 20px;
  margin-top: 80px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 36px;
  background-color: rgb(255, 255, 255, 0) ;
}

.image-footer {
  max-width: 100vw;
}

.bottom {
  width: 100%;
}
