.header-line {
  display: flex;
  justify-content: space-between;
}

.button-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  margin: 30px 100px 0px 0px;
}

.button-header-enter {
  font-weight: 400;
  font-size: 18px;
  border: #ffffff;
  background-color: rgb(255, 255, 255, 0) ;
}

.button-header-registration {
  font-weight: 400;
  font-size: 18px;
  padding: 5px 25px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0) ;
}

.image-octopus {
  margin: 0px auto;
}

.octopus {
  width: 100%;
}

.tittle {
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.callback {
  font-weight: 700;
  font-size: 64px;
  margin: 30px 0px 20px 0px;
  color: #ffffff;
}

.title-callback {
  max-width: 60vw;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.button-callback {
  width: 362px;
  height: 75px;
  padding: 10px 40px;
  margin-top: 40px;
  font-weight: 400;  
  font-size: 36px;
  text-transform: uppercase;
  border: 1px solid  rgb(255, 255, 255, 0);
  border-radius: 5px;
  background-color: rgba(215, 92, 120, 1);
  box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.3)
}

.image-bubbles {
  width: 100px;
}

.bubble-one {
  width: 65px;
  height: 65px;
}

.bubble-two {
  width: 35px;
  height: 35px;
}

.bubble-three {
  width: 18px;
  height: 18px;
}