@import "./css/homepage.css";
@import "./css/content.css";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: Roboto;
}

@font-face {      
  font-family: 'Roboto';
  src:url('./fonts/Roboto-Medium.ttf');

}

.container {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0px auto;
}

.header {
  background: linear-gradient(50deg, #4b3862 15%, #D45B78);
}

.content {
  background: linear-gradient(180deg, #4F3963 -2%, #764469 31%, #5E3E66 76%, #2C2142 94%);
}
