@import "./css/homepage.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.header {
  background: linear-gradient(50deg, #4b3862 15%, #D45B78);
}

.content {
  background: linear-gradient(to bottom, #4b3862, #D45B78);

}

.footer {
  background: linear-gradient(to top, #4b3862, #D45B78);

}