@import "./css/homepage.css";
@import "./css/content.css";
@import "./css/images.css";
@import "./css/animation.css";
@import url(./css/media/mobile.css) screen and (max-width: 500px);
@import url(./css/media/qwe.css) screen and (min-width: 501px) and (max-width: 800px);

@font-face {      
  font-family: 'Roboto';
  src:url('./fonts/Roboto-Medium.ttf');
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: Roboto;
}

.container {
 margin: 0px auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background: linear-gradient(252.43deg, #D45B78 0.01%, #4B3862 101.01%);
}

.content {
  background: linear-gradient(178.71deg, #4F3963 -3.68%, #764469 6.45%, #5E3E66 76.09%, #2C2142 94.17%);
}

.content-title {
  display: block;
}
