@import "./css/homepage.css";
@import "./css/content.css";
@import "./css/images.css";
@import "./css/animation.css";
@import url(./css/media/mobile.css) screen and (max-width: 500px);
@import url(./css/media/qwe.css) screen and (min-width: 501px) and (max-width: 800px);

@font-face {      
  font-family: 'Roboto';
  src:url('./fonts/Roboto-Medium.ttf');
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: Roboto;
}

.container {
 margin: 0px auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  background: linear-gradient(50deg, #4b3862 15%, #D45B78);
}

.content {
  background: linear-gradient(180deg, #4F3963 -2%, #764469 31%, #5E3E66 76%, #2C2142 94%);
}

.content-title {
  display: block;
}
