.header-line {
  display: grid;
  align-items: center;
  grid-template-columns:70px 1fr 70px;  
  grid-template-rows: 90px;
}

.image-header {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 70px;
  margin: 0px;
}

.image-callmar {
  width: 100%;
}

.menu {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-items: start;
  width: 50px;
  height: 50px;
  background-color: aqua;
}

.button-header {
  display:none;
  margin: 0px;  
  text-align: center;
}

.menu:hover + .button-header, .button-header:hover{  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: stretch;
  justify-items: stretch;
  display: block;
}

.button-header-enter,
.button-header-registration {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  margin: 2px;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0) ;
}

.octopus {
  width: 100%;
}

.callback {
  width: 300px;
  height: 60px;
  font-size: 24px;
}
  
.title-callback {
  font-size: 14px;
  line-height: 21px;
}

.button-callback {
  font-size: 24px;
}

.content-title {
  display: block;
  padding: 50px;
  height: 160px;
  font-size:24px;  
  line-height: 36px;
  text-align: center;
}

.list-content,
.footer {
  display: flex;
  flex-direction: column;
}

.list-content-item {
  padding: 40px 75px 40px 75px;
}

.list-content-paragraph {
  font-size: 14px;
  line-height: 21px;
}

.list-content-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.list-content-title::before {
font-size: 64px;
left: 5px;
top: 30px;
color:  rgba(148, 75, 110, 1);
}

.video-title {
  margin: 30px 0px;
  font-size:24px;  
  line-height: 36px;
  text-align: center;
}

.video {
  min-height: 400px;
  background-color: dimgrey;
}

.container-footer {
  margin: 10px 10px;
  text-align: center;
}


.title-footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.p-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.button-footer {
  font-size: 24px;
}

.diver, 
.image-bubbles,
.submarine {
  display: none;
}

.image-fish {
  position: absolute;
  margin-top: 20px;
  max-width: 100px;
  margin-left: 200px;
}

.image-footer {
  overflow: hidden;
}

.bottom {
  width:700px;
}